body {
    /*El cuerpo. 
    Estos valores se aplicarán a TODAS las páginas*/

    /*Tamaño*/
    width: 78em;

    /*Fondo*/
    background-color: rgb(1, 59, 63);

    /*Bordes*/
    border-style: hidden;

    /*Letra*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 500;

    /*Texto*/
    text-align: center;
    text-indent: 1.5em;
}

#Boton_modo_noche {
    position: absolute;
    left:0.5em;

    width: 7.3em;
    
    background: transparent url(../Imagenes/RedNocheSinFondoChico.jpg) no-repeat left center;

    color: white;

}

#Boton_modo_noche a {
    margin: 1.5em 3.1em; 
    margin-right: 1em;
    float: left; 
    clear: left; 

    text-align: right;
}


#Boton_modo_noche a:link, #Boton_modo_noche a:visited{
    color: #e6346fe1;
    text-decoration: none;
}


#Boton_modo_noche a:hover, #Boton_modo_noche:hover{

    color: #06aa0e;
    text-decoration: none;
}


#Boton_modo_noche:hover{
    border-style: outset;
}

#content{
    /*El contenido. 
    Entre el fondo y el contenido he intentado
    conseguir un "efecto FFVII".*/

    position: relative;
    top: 3em;
    left: 12em;

    overflow: hidden;

    padding: 2em;

    width: 50em;

    border-style: solid;
    border-color: #adadad;
    border-width: 0.25em;

    background-color: #4401ff;



    color: #ffffff;

}

#content img.adjunto {
    float: right;
    display: block;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-bottom: 3em;

}

#content a:link{
    color: #ffffff;
    text-decoration: none;
}
#content a:visited{
    color: #ffffff;
    text-decoration: none;
}
#content a:hover{
    
    color: #ff04ff;
    text-decoration:dashed;
}


#header {
    /*La cabecera.
    Es simplemente una foto de la ciudad
    de Midgar.*/

    position: relative;
    left: 8em;

    width: 62em;
    height: 11em;

    background-image: url("../Imagenes/CabeceraFondo4_FFVII.png");
    background-repeat: no-repeat;

    border-style: groove;

    color: lavender;
}

#header a {
    /*Muestra los enlaces de forma normal*/
    color: lavender;
    text-decoration: none;
}

#header h1 {
    /*Bajo el título para que se pueda leer bien*/
    padding-top: 3em;
}

#footer{
    /*El pie de página. 
    Como es más trivial, lo he hecho
    más oscuro (se camufla más con el fondo)*/
    
    position: relative;
    top: 5em;

    background-color: #8bc5c5;

    border-style: outset;
    border-color: #5e7c7b;

    color: #5f7c7b;
}

#footer a{
    /*Muestra los enlaces del pie de página en morado*/
    color: #9f21a3;
}

dl {
    /*Muestra la tabla como en el juego*/

    color: #ffffff;
}

ul{
    list-style: none;
}

#gameplay, #historia, #informacionAdicional {
    /*Muestra los muchos textos como texto normal, de izquierda a derecha*/
    text-align: left;
}

#Lista_de_Monstruos ul{
    /*Entre esta y la próxima declaración se hace que la lista de los monstruos se vea sin puntos, 
    ordenada de izquierda a derecha y con espacios entre sí.*/
    list-style: none;
    overflow: hidden;
}

#Lista_de_Monstruos ul li{
    float: left;
    width: 20em;
    height: 25em;
}

table {
    /*Todas las tablas son del nivel de los monstruos respecto a sus atributos*/
    display: inline;

    border-collapse: separate;
    border-spacing: 0.5em;

    
    margin-top: 5em;
}