@font-face {
    font-family: Romance fatal seriff;
    src:url("../tipografia/romance\ fatal\ serif\ JC\ Fonts.ttf");
}

@font-face {
    font-family: OldeEnglish;
    src:url("../tipografia/OldeEnglish.ttf");
}





* {
    font-family: "Romance fatal seriff";
}

h1,h2,h3,h4, h5,h6{
    font-family: "OldeEnglish";
}

body {
    /*El cuerpo. 
    Estos valores se aplicarán a TODAS las páginas*/

    /*Tamaño*/
    width: 78em;

    /*Fondo*/
    background-color: rgb(1, 59, 63);

    /*Bordes*/
    border-style: hidden;

    /*Letra*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 500;

    /*Texto*/
    text-align: center;
    text-indent: 1.5em;
}

nav{
    width: 50em;
    display: inline-block;
    text-align: center;
    height: 0em;
    position: relative;
    bottom: 2em;
}

#Boton_modo_noche {
    position: relative;
    font-size: 5em;

    width: 10em;
    
    /* 43 x 57 */
    background: transparent url(../img/RedNocheSinFondoChico.jpg) no-repeat left center;
    background-size: 1.33em 1em;

    color: white;

}

#Boton_modo_noche a {
    margin: 1.5em 3.1em; 
    padding-left: 3em;


    display: inline;
    margin: 0em;
    text-align: right;
}


#Boton_modo_noche a:link, #Boton_modo_noche a:visited{
    color: #e6346fe1;
    text-decoration: none;
}


#Boton_modo_noche a:hover, #Boton_modo_noche:hover{

    color: #06aa0e;
    text-decoration: none;
}


#Boton_modo_noche:hover{
    border-style: outset;
}

content{
    /*El contenido. 
    Entre el fondo y el contenido he intentado
    conseguir un "efecto FFVII".*/

    display: inline-block;
    position: relative;
    top: 3em;
    left: 0em;

    overflow: hidden;

    padding: 2em;

    width: 50em;

    border-style: solid;
    border-color: #adadad;
    border-width: 0.25em;

    background-color: #4401ff;



    color: #ffffff;

}

content input{
    color: black;
}

content img.adjunto {
    float: right;
    display: block;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-bottom: 3em;

}

content img.adjunto:hover{
    opacity: 0.7;
}

/** CSS para hacer más grandes las imagenes al clickar en ellas */

content .modal{
    /* The Modal (background) */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

content .modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

content #caption{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
content .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
content .close:hover, #content .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }





content a:link{
    color: #ffffff;
    text-decoration: none;
}

content a:visited{
    color: #ffffff;
    text-decoration: none;
}
content a:hover{
    
    color: #ff04ff;
    text-decoration:dashed;
}


header {
    /*La cabecera.
    Es simplemente una foto de la ciudad
    de Midgar.*/

    position: relative;
    left: 8em;

    width: 62em;
    height: 11em;

    background-image: url("../img/CabeceraFondo4_FFVII.png");
    background-repeat: no-repeat;

    border-style: groove;

    color: lavender;
}

header a {
    /*Muestra los enlaces de forma normal*/
    color: lavender;
    text-decoration: none;
}

header h1 {
    /*Bajo el título para que se pueda leer bien*/
    padding-top: 3em;
}

footer{
    /*El pie de página. 
    Como es más trivial, lo he hecho
    más oscuro (se camufla más con el fondo)*/
    
    position: relative;
    top: 5em;
    left: 8em;
    width: 62em;

    background-color: #8bc5c5;

    border-style: outset;
    border-color: #5e7c7b;

    color: #5f7c7b;
}

footer a{
    /*Muestra los enlaces del pie de página en morado*/
    color: #9f21a3;
}

dl {
    /*Muestra la tabla como en el juego*/

    color: #ffffff;
}

ul{
    list-style: none;
}

#gameplay, #historia, #informacionAdicional {
    /*Muestra los muchos textos como texto normal, de izquierda a derecha*/
    text-align: left;
}

#Lista_de_Monstruos ul{
    /*Entre esta y la próxima declaración se hace que la lista de los monstruos se vea sin puntos, 
    ordenada de izquierda a derecha y con espacios entre sí.*/
    list-style: none;
    overflow: hidden;
}

#Lista_de_Monstruos ul li{
    float: left;
    width: 20em;
    height: 25em;
}

ul#categorias{
    position: relative;
    left: 4em;
}

ul#categorias li{
    float: left;
    width: 10em;
    height: 10em;
}

ul#categorias li input{
    float: left;
    width: 7em;
    height: 3em;
}

table {
    /*Todas las tablas son del nivel de los monstruos respecto a sus atributos*/
    display: inline;

    border-collapse: separate;
    border-spacing: 0.5em;

    
    margin-top: 5em;
}