/** El css está ordenado por: definciones de variables, propiedades generales de la página, header, nav, content, footer y propiedades especificas
*/


/* Definición de variables */
@font-face {
    font-family: Romance fatal seriff;
    src:url("../tipografia/romance\ fatal\ serif\ JC\ Fonts.ttf");
}

@font-face {
    font-family: OldeEnglish;
    src:url("../tipografia/OldeEnglish.ttf");
}





/* Body */
body {
    /*Fondo*/
    background-color: rgb(0, 57, 61);
}





.Boton_modo_noche {
    position: relative;
    font-size: 5em;

    width: 10em;
    
    /* 43 x 57 */
    background: transparent url(../img/RedNocheSinFondoChico.jpg) no-repeat left center;
    background-size: 1.33em 1em;

    color: white;

}

.Boton_modo_noche a {
    margin: 1.5em 3.1em; 
    padding-left: 3em;


    display: inline;
    margin: 0em;
    text-align: right;
}


.Boton_modo_noche a:link, .Boton_modo_noche a:visited{
    color: #e6346fe1;
    text-decoration: none;
}


.Boton_modo_noche a:hover, .Boton_modo_noche:hover{

    color: #06aa0e;
}


.Boton_modo_noche:hover{
    border-style: outset;
}







/*Content */
content{
    border-style: solid;
    border-color: #adadad;
    border-width: 0.25em;

    background-color: #4401ff;

    color: #ffffff;
}







content a:link, content a:visited{
    color: #ffffff;
}

content a:hover{
    color: #ff04ff;
}


/* Footer */
footer{
    background-color: #8bc5c5;

    border-style: outset;
    border-color: #5e7c7b;

    color: #5f7c7b;
}

footer a{
    /*Muestra los enlaces del pie de página en morado*/
    color: #9f21a3;
}




/* Propiedades especificas */

dl {
    /*Muestra la tabla como en el juego*/

    color: #ffffff;
}




table {
    /*Todas las tablas son del nivel de los monstruos respecto a sus atributos*/
    display: inline;
    
    margin-top: 5em;
}
