/** El css está ordenado por: definciones de variables, propiedades generales de la página, header, nav, content, footer y propiedades especificas
*/

/* Body */
body {
    /*Fondo*/
    background-color: black;


    /*Texto*/
    text-align: center;
    text-indent: 1.5em;
}



.Boton_modo_día {
    position: absolute;
    left:1em;

    width: 5em;

    border-style: outset;
    border-color: rgb(5, 5, 5);
    
    
    background: transparent url(../Imagenes/RedDiaSinFondo.2_preview_rev_1.png) no-repeat left center;
}

.Boton_modo_día a{
    margin: 1em 0; 
    float: left; 
    clear: left;
}

.Boton_modo_día a:link, .Boton_modo_día a:visited{
    color: white;
    text-decoration: none;
}

.Boton_modo_día a:hover, .Boton_modo_día:hover{
    border-color: #3e6157;

    color: rgb(168, 168, 168);
    text-decoration: none;
}






/* Content */
content{


    background-color: #0c1311;
    
    color: #4efff6;

}

content a:link, content a:visited{
    color: #4efff6;
}
content a:hover{
    color: #3cf884;
}




footer{
    background-color: #0d1a1a;

    border-style: outset;
    border-color: #c3fffc;

    color: #c3fffc;
}

footer a{
    /*Muestra los enlaces del pie de página en morado*/
    color: #9f21a3;
}

dl {
    /*Muestra la tabla como en el juego*/

    border-style: solid;
    border-color: #ffffff;

    background-color: #4401ff;

    color: #ffffff;
}


table {
    /*Todas las tablas son del nivel de lows monstruos respecto a sus atributos*/
    position: relative;
    left: 20%;
}