{% extends 'base.html.twig' %}

{% block keywords %}"wiki, FFVII, final fantasy, final fantasy 7, final fantasy VII, informacion, datos, ventas, gameplay, historia, compra, feedback, retroalimentacion, mecanicas, jugabilidad"{% endblock %}

{% block description %}"Pagina que que cuenta la historia y gameplay del juego FFVII y toda información relacionada a este." {% endblock %}

{% block javascripts %}{% endblock %}

{% block content %}
        <h2>Juego</h2><br/>

        <p>Final Fantasy es uno de los juegos más populares de la saga Final Fantasy. <abbr title="Final Fantasy 7">FFVII</abbr> ha llegado a vender más de 12,3 millones de copias desde su lanzamiento.
        <br>Su éxito se debe a muchas razones, como su historia, <dfn title="Se lanzó con el lanzamiento de la PlayStation1. Y fue el primer Final Fantasy en llegar a Europa."><em>el momento en que se lanzó</em></dfn>, 
        las <dfn title="Increíbles gráficos para la época, una historia muy larga, etc.">capacidades del juego</dfn>, su gameplay,etc.</p>
        <div id="gameplay"> 
          <h3>Gameplay</h3>
          <p> El juego en un rpg basado en turnos. Cada personaje tiene una barra que se va llenando. Cuando lo hace, este puede escoger algún comandos entre los que tiene disponibles. <br/>
          Los comandos básicos son "Ataque" y "Elementos". Con el primero atacas al objetivo y con el segundo utilizas algún objeto. El resto de comandos se desbloquean utilizando materias.<br/>
          Las materias son objetos equipables a los personajes que les permiten o usar magia, invocar o usar comandos especiales. El número de materias equipables viene determinada por el arma equipada.<br/>
          De estas acciones, la más importante es la magia, sin lugar a dudas. El número de magias, su poder, su diversidad y su gestión las hacen las materias más <dfn title="No individualmente, si no en conjunto.">importantes.</dfn> Además, son las responsables de darle chicha al gameplay.<br/>
          Aquí se presenta una lista de algunas de las magias con su correspondiente efecto:</p>
          <a id="magias"></a>
          <dl>
            <dt><img alt="Materia fuego" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Fuego  </dt>
            <dd>Magia de fuego que lanza una llamarada al objetivo. Tiene hasta 3 niveles</dd>
            <dt><img alt="Materia hielo" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Hielo</dt>
            <dd>Magia de hielo que congela y daña al objetivo. Tiene hasta 3 niveles</dd>
            <dt><img alt="Materia electro" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Electro</dt>
            <dd>Magia de electricidad que electrocuta al objetivo. Tiene hasta 3 niveles.</dd>
            <dt><img alt="Materia Cura" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Cura</dt> 
            <dd>Cura al objetivo. Tiene hasta 3 niveles.</dd>
            <dt><img alt="Materia Gravedad" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Gravedad</dt>
            <dd>Daña al rival en proporción a su salud. El primer nivel quita un 25%, el segundo 50% y el tercero un 75%</dd>
            <dt><img alt="Materia Sentir" src="../Imagenes/MateriaAmarilla.jpeg" width="10"/> Sentir</dt> 
            <dd>Libra. Chequea el nivel, el nombre, la salud y la magia del objetivo.</dd>
            <dt><img alt="Materia Cometa" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Cometa</dt>
            <dd>Poderosa magia que ataca a diversos objetivos a la vez. Tiene hasta 2 niveles.</dd>
            <dt><img alt="Materia Bios" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Bios</dt>
            <dd>Magia de envenenamiento que daña al rival. Tiene hasta 3 niveles.</dd>
            <dt><img alt="Materia Prisa" src="../Imagenes/MateriaVerde.jpeg" width="10"/> Prisa</dt>
            <dd>Magia que acorta la espera de un personaje para actuar.</dd>
          </dl>
        </div>
        <div id="historia">
          <h3>Historia</h3>
          <p>Entre todos los jrps, el FF7 destaca también por su historia. No contaré mucho para no destrozarle el juego a nadie, pero puedo decir que tiene una historia sorprendentemente larga. Puedes pensar que estás a punto de pasarte el juego, y en realidad no has llegado ni al 50%.<br/>
          Otra de las razones por las que la historia destaca tanto es por su mensaje. En un época donde las historias de ciencias ficción niponas están en su apogeo, <em>utilizando el progreso humano</em> para <dfn title="En Evangelion, Mazinger Z, Mobile Suit Gundam y Power Ranger, por ejemplo, usaban robots para combatir a los enemigos">combatir problemas</dfn>
                fue su mensaje anarco-primitivista. Dice que deberíamos dejar la tecnología y las empresas, las responsables del gran daño que ha recibido la madre gaia, y volver a nuestras raíces como seres nómadas.</p>
        </div>
        <div id="informacionAdicional">
          <p>Aunque el juego es muy antiguo, se puede jugar en muchas plataformas. Aquí se proporciona una lista de esas plataformas:</p>
          <ul>
            <li>Steam(Ordenador)</li>
            <li>PlayStation1(y la 2)</li>
            <li>Xbox One</li>
            <li>Android</li>
            <li>PlayStation Portable</li>
            <li>iOs</li>
            <li>Nintendo Switch<br/>En esta última plataforma es más difícil jugar al juego.Hay que:<ol>
              <li>Comprar o tener una Nintendo Switch</li>
              <li>Registrarse en Nintendo y vincular la cuenta con la consola</li>
              <li>Ya sea vinculando una tarjeta de crédito o registrando un código especial, hay que ingresar dinero en la cuenta.</li>
              <li>(Acceso a internet necesario) Usar el programa "Nintendo Eshop" y buscar Final Fantasy VII</li>
              <li>Seleccionar el juego deseado, comprarlo y descargarlo</li>
              <li>Volver al menú Home y jugar al juego</li>
            </ol></li>
          </ul>
        </div>
{% endblock %}

{% block footer %}
    <br><br>
    <p>Fuentes: <a hreflang="es" href="https://www.hobbyconsolas.com/noticias/final-fantasy-vii-lleva-vendidas-123-millones-copias-lanzamiento-521885">Hobbyconsolas</a></p>
{% endblock %}