{% extends 'base.html.twig' %}

{% block title %}Soldado Raso{% endblock %}

{% block keywords %}"wiki, FFVII, final fantasy, final fantasy 7, final fantasy VII, informacion, enemigo, monstruo, soldado raso, ejercito, Rufus, soldado, raso, Shinra, guerrero, combatiente, recluta, militante"{% endblock %}

{% block description %}"Pagina que reune toda la informacion del monstruo de FFVII el soldado raso."{% endblock %}

{% block javascripts %} <script src="{{ asset ('js/ExpandImg.js')}}"></script> {% endblock %}

{% block content %}
                <h2><a id="home2" hreflang="es" href="{{ path('index')}}">Home</a>-<a hreflang="es" type="text/html" href="{{ path('app_monsters')}}">Monstruos</a>-Soldado Raso</h2>
                <br/><h1>Soldado Raso</h1><br/>
                <img class="adjunto" alt="Imagen de un soldado" src="{{ asset('img/SoldadoRaso.jpg')}}" width="400"/>
                <!--HTML para crear una nueva imagen. Es la misma de arriba pero más grande-->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                
                <p><br/>Los soldados rasos son monstruos sin debilidades. Suelen aparecer en Midgar, aunque dependiendo del punto de la historia aparecen en otros lugares.
                    <br/><br/><br/>
                    Predominan en aquellos lugares en los que esté Shinra, como el edificio Shinra o allá donde Rufus.
                    <br/><br/>
                    Aunque en la imagen se muestre con un traje azul y un casco blanco, los soldados tienen distintos vestuarios dependiendo de su rango:
                    soldado, capitán de tropa, capitán, general, coronel, terratiniente, etc.
                </p>
                <table>
                    <caption>Tabla entre nivel hp magia y movimientos</caption>
                    <thead>
                        <tr>
                            <th scope="row">Nivel</th>
                            <th></th>
                            <th scope="col">5</th>
                            <th scope="col">9</th>
                            <th scope="col">20</th>
                            <th scope="col">40</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Experiencia</th>
                            <th></th>
                            <td>50</td>
                            <td>90</td>
                            <td>190</td>
                            <td>375</td>
                        </tr>
                        <tr>
                            <th scope="row">Vida</th>
                            <th></th>
                            <td>200</td>
                            <td>400</td>
                            <td>1900</td>
                            <td>5000</td>
                        </tr>
                        <tr>
                            <th scope="row">Magia</th>
                            <th></th>
                            <td>40</td>
                            <td>60</td>
                            <td>120</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <th scope="row">Movimientos</th>
                            <th></th>
                            <td colspan="2">Sable especial</td>
                            <td rowspan="2">Nada</td>
                            <td>Piro 3</td>
                        </tr>
                        <tr>
                            <th scope="row">Objetos</th>
                            <th></th>
                            <td colspan="2">Poción</td>
                            <td>Sable Soldado Raso</td>
                        </tr>
                    </tbody>   
                </table>
{% endblock %}


{% block footer %}
{% endblock %}